<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>woda.satispress</string>
	<key>connections</key>
	<dict>
		<key>3F93882B-0630-4B52-853A-6EE6C09E8251</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>193EE4F1-7CBF-47BE-A8A3-7F02DF819BF2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Satispress</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>satispress</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node index.js "$1" </string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search SatisPress for "{query}"</string>
				<key>title</key>
				<string>SatisPress</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3F93882B-0630-4B52-853A-6EE6C09E8251</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>193EE4F1-7CBF-47BE-A8A3-7F02DF819BF2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>193EE4F1-7CBF-47BE-A8A3-7F02DF819BF2</key>
		<dict>
			<key>xpos</key>
			<integer>245</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>3F93882B-0630-4B52-853A-6EE6C09E8251</key>
		<dict>
			<key>xpos</key>
			<integer>85</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>key</key>
		<string>VoOjCHW7XDhgQc4f0FV1OVeSELCHBo97</string>
		<key>require</key>
		<string>1</string>
		<key>url</key>
		<string>https://wpack.woda.at/satispress/packages.json</string>
		<key>vendor</key>
		<string></string>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
